<section class="w-1/2 bg-gray-200 shadow-lg rounded-lg mx-auto p-4 my-4  ">
    <h1 class="text-green-700 text-center text-3xl font-bold mt-2">Reset Password :</h1>
    
    @if (step==1) {
        <form [formGroup]="forgotpassForm" (ngSubmit)="forgotpass()">

        <div class="mb-6">
            <label for="uEmail" class="block mb-2.5 text-lg font-light text-green-700">Email :</label>
            <input formControlName="email" type="email" id="uEmail" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-700 focus:border-green-700 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="" required />
        </div>

        <button type="submit" class=" bg-green-700 text-white py-2 px-4 rounded-md cursor-pointer hover:bg-green-500 transition mx-auto flex disabled:bg-green-300" >
            Submit
        </button>
    </form>
    }


    @if (step==2) {
        <form [formGroup]="verifyCodeForm"  (ngSubmit)="verifycode()">
        <div class="mb-6">
            <label for="uCode" class="block mb-2.5 text-lg font-light text-green-700">Reset Code :</label>
            <input formControlName="resetCode" type="text" id="uCode" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-700 focus:border-green-700 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="" required />
        </div>
        
        <button type="submit" class=" bg-green-700 text-white py-2 px-4 rounded-md cursor-pointer hover:bg-green-500 transition mx-auto flex disabled:bg-green-300" >
            Submit
        </button>
    </form>
    }

    @if (step==3) {
        <form [formGroup]="resetPassForm" (ngSubmit)="resetpass()">
        <div class="mb-6">
            <label for="uConfirmEmail" class="block mb-2.5 text-lg font-light text-green-700">Email :</label>
            <input readonly formControlName="email" type="email" id="uConfirmEmail" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-700 focus:border-green-700 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="" required />
        </div>

        <div class="mb-6">
            <label for="uConfirmPass" class="block mb-2.5 text-lg font-light text-green-700">New Password :</label>
            <input formControlName="newPassword" type="password" id="uConfirmPass" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-700 focus:border-green-700 block w-full px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="" required />
        </div>
        
        <button type="submit" class=" bg-green-700 text-white py-2 px-4 rounded-md cursor-pointer hover:bg-green-500 transition mx-auto flex disabled:bg-green-300" >
            Submit
        </button>
    </form>
    }

</section>