<section class="py-5 mt-5">
    <div class="container mx-auto my-5 px-4"> <div class="parent grid grid-cols-1 md:grid-cols-[70%_minmax(0,1fr)] gap-2 md:gap-0">
            
            <div>
                <owl-carousel-o [options]="mainslider">
                    <ng-template carouselSlide><img src="/images/slider-1.png" class="w-full h-[300px] object-cover" alt=""></ng-template>  
                    <ng-template carouselSlide><img src="/images/slider-4.jpeg" class="w-full h-[300px] object-cover" alt=""></ng-template>  
                    <ng-template carouselSlide><img src="/images/slider-5.jpeg" class="w-full h-[300px] object-cover" alt=""></ng-template>  
                </owl-carousel-o>
            </div>

            <div class="flex flex-row md:flex-col"> <img src="/images/slider-2.jpeg" class="w-1/2 md:w-full h-[150px] object-cover" alt="">
                <img src="/images/slider-3.jpeg" class="w-1/2 md:w-full h-[150px] object-cover" alt="">
            </div>

        </div>
    </div>
</section>

<section >
    <div class="container mx-auto my-5">
        <h3 class="text-lg mt-5" > {{'home.popularcat'|translate}} :-</h3>
    <owl-carousel-o [options]="customOptions">

    @for (cat of myCategories; track cat._id) {
        <ng-template carouselSlide  >
        <img [src]="cat.image" class="w-full h-[250px] object-cover" alt="">
        <h3>{{cat.name}}</h3>
        </ng-template>
    }

    </owl-carousel-o>
    </div>
</section>

<section >
    <div class="container mx-auto my-5">
        <h3 class="text-lg" >{{'home.popularprod'|translate}}:-</h3>

        <input type="text" [(ngModel)]="searchItem" class="bg-neutral-secondary-medium border border-default-medium text-heading text-sm rounded-base focus:ring-green-700 focus:border-green-700 block w-1/2 mx-auto px-3 py-2.5 shadow-xs placeholder:text-body" placeholder="{{'home.search'|translate}} ..." required />
            
        <div class="parent grid md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 pt-2">
            @for (prod of myProducts.slice(0 ,20) | search : searchItem ; track prod._id) {
            
            <div  class="card border border-green-700/50 rounded-md overflow-hidden shadow relative group">
                
                <button (click)="addToWish(prod._id)" 
                        class="absolute top-2 right-2 z-10 opacity-0 group-hover:opacity-100 transition-all duration-500">
                    <i class="fa-solid fa-heart text-2xl cursor-pointer transition-colors"
                        [class.text-red-600]="wishlistIds.includes(prod._id)"
                        [class.text-gray-400]="!wishlistIds.includes(prod._id)">
                    </i>
                </button>

                <div [routerLink]="['/details' , prod._id]" >
                    <div class="card-img">
                    <img [src]="prod.imageCover" class="w-full h-[250px] object-contain" alt="">
                </div>
                <div class="card-body px-2 py-2">
                    <h4 class="text-green-500 text-xs">{{prod.category.name | uppercase}}</h4>
                    <h3 class="font-medium">{{prod.title.split( ' ',2)}}</h3>
                    <div class="flex justify-between items-center">
                        <span>{{prod.price |currency}}</span>
                        <div class="flex items-center">
                            <i class="fas fa-star text-yellow-300"></i>
                            <span class="text-gray-500">{{prod.ratingsAverage}}</span>
                        </div>
                    </div>
                </div>
                </div>
                <button (click)="addProductToCart(prod._id)" class="py-3 mb-2 px-4 text-white rounded-lg w-[70%] block mx-auto bg-green-700 cursor-pointer hover:bg-green-500">
                    {{'home.addtocart'|translate}}
                </button>
            </div>
            }
        </div>
    </div>
</section>